RewriteEngine On

# Si el archivo o directorio existe, se sirve tal cual
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Si no, todo va al front controller
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
